{% extends "table.html" %}

{% block table %}
<select name="unrated" id="unrated">
	<option selected value="null">All Albums</option>
	<option value="true">Unrated Albums</option>
	<option value="false">Rated Albums</option>
</select>

<table id="albums">
	<thead>
		<tr>
			<th data-dt-order="disable">Cover</th>
			<th>Album</th>
			<th>Artist</th>
			<th>Rating</th>
			<th>Rated At</th>
			<th>Genres</th>
			<th>Styles</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		var config = {
			ajax: {
				url: "api/datatables",
				data: {
					query_type: "albums",
					artist_id: "{{ artist_id }}",
					unrated: function () {
						return $('#unrated').val().toString();
					},
				}
			},
			serverSide: true,
			lengthChange: true,
			columns: [
				{
					data: "cover",
					orderable: false,
					searchable: false,
					render: function (_, __, row, ___) {
						return row.cover ?
							"<a href={{ url_for('tracks') }}?id=" + row.id + "><img src=data:image/png;base64," + row.cover.replace(/[|\n\r]/gm, "") + " width=100px /></a>"
							: "No Cover Available"
					}
				},
				{
					data: "album",
					searchBuilderType: "string",
					render: function (_, __, row, ___) {
						return "<a href={{ url_for('albums') }}?id=" + row.id + ">" + row.album + "</a>"
					}
				},
				{
					data: "artist",
					searchBuilderType: "string",
					render: function (_, __, row, ___) {
						return "<a href={{ url_for('artists') }}?id=" + row.artist_id + ">" + row.artist + "</a>"
					}
				},
				{ data: "rating", searchable: false, searchBuilderType: "num" },
				{ data: "last_rated_at", searchable: false, searchBuilderType: "date" },
				{
					data: "genres",
					orderable: false,
					searchBuilderType: "string",
					render: function (_, __, row, ___) {
						if (!row.genres) {
							return null
						}
						var cell = "<ul>";
						for (const genre of row.genres) {
							cell += "<li>" + genre + "</li>";
						}
						cell += "</ul>"
						return cell;
					}
				},
				{
					data: "styles",
					orderable: false,
					searchBuilderType: "string",
					render: function (_, __, row, ___) {
						if (!row.styles) {
							return null
						}
						var cell = "<ul>";
						for (const style of row.styles) {
							cell += "<li>" + style + "</li>";
						}
						cell += "</ul>"
						return cell;
					}
				},
			],
			order: [
				[2, 'asc'],
				[1, 'asc']
			],
			layout: {
				top: {
					searchBuilder: {
						columns: [1, 2, 3, 4, 5, 6],
						greyscale: true,
						depthLimit: 10
					}
				}
			},
			language: {
				searchBuilder: { title: "<h3>Advanced Search</h3>" }
			},
		};
		var queryConfig = $.fn.dataTable.ext.deepLink([
			'order', 'searchBuilder.criteria', 'searchBuilder.logic'
		]);
		if (queryConfig?.searchBuilder?.criteria || queryConfig?.searchBuilder?.logic) {
			config.layout.top.searchBuilder.preDefined = {};
		}
		if (queryConfig?.searchBuilder?.criteria) {
			config.layout.top.searchBuilder.preDefined.criteria = queryConfig.searchBuilder.criteria;
		}
		if (queryConfig?.searchBuilder?.logic) {
			config.layout.top.searchBuilder.preDefined.logic = queryConfig.searchBuilder.logic;
		}
		if (queryConfig?.order) {
			config.order = queryConfig.order;
		}
		var table = $('#albums').DataTable(
			config
		);
		table.on('responsive-resize', function (_, __, ____) {
			$('tr').each(function () { $(this).find('td:visible:last').addClass('last-visible-td') });
		});
	});
</script>
{% endblock %}