table {
	border-collapse: separate !important;
	border-spacing: 0 10px !important;
	margin-top: -10px;
	/* correct offset on first border spacing if desired */
}

td {
	border: solid 1px #000;
	border-style: solid none;
	padding: 10px;
	background-color: rgb(232, 232, 232);
}

td:first-child {
	border-left-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

td:last-child {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.last-visible-td {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

nav {
	display: flex;
	justify-content: center;
	padding-top: 1em;
	padding-bottom: 1em;
	gap: 50px;
}

nav a {
	color: #d64161;
	font-size: 3em;
	text-decoration: none;
}

nav a.active {
	background-color: #2e2e30;
	color: #f5f5f5;
}

tr a {
	text-decoration: none !important;
}

tr a:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

#container {
	display: flex;
	padding-bottom: 2em;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	width: 90%;
	margin: auto;
}

td ul {
	margin-bottom: 0;
}

.index {
	display: grid;
	justify-content: center;
	text-align: center;
	font-size: 32pt;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	justify-content: center;
	display: flex;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.plotly .hoverlayer .hovertext .name {
	fill: black !important;
}

.plotly-graph-div {
	height: 400px !important;
	overflow-y: scroll;
}